# Python environment
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# OS/IDE settings
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Project dynamic data (Ignored to protect personal routes)
route.json
src/route.json
src/route_default.json
